//output:test.html
doctype html

html
  meta(charset="utf-8")
  link(href="/css/bootstrap.min.css" rel="stylesheet")
  link(href="/css/scrollBarStyle.css" rel="stylesheet")
  link(href="/css/generalStyles.css" rel="stylesheet")
  link(href="/css/connection/connectionStyle.css" rel="stylesheet")
body(class="rowFlexContainer")
  div#form_wrapper(class="form_wrapper formWrapperStyle")
    form(class="register col-lg-12 col-md-12 col-sm-12")
      div(class="formHeader centeredItems")
        h3 Register
      div(class="formContent")
        div(class="row")
          label(class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8") Username:
            span(class="error_username")
          input(type="text" class="myCustomInput" name="username" pattern="^[A-Za-z0-9]{4,}$" required
                class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8")
          span(class="myTooltip") Username must contain at least 4 characters
        div(class="row")
          label(class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8") Email:
            span(class="error_email")
          input(type="email" class="myCustomInput" name="email" required
                class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8")
          span(class="myTooltip") Your email is not a valid email
        div(class="row")
          label(class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8") Password:
            span(class="error_password")
          input(type="password" class="myCustomInput" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])[a-zA-Z0-9]{8,}$" required 
                class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8")
          span(class="myTooltip") Password must contain at least 8 characters, 1 Uppercase letter and 1 number
      div(class="bottom formBottomStyle")
        div(class="row centeredItems")
          input(type="checkbox")
          span Send me updates
        div(class="row")
          input(type="submit" value="Register" class="myCustomButton")
        div(class="row")
          a(href="connection" rel="login" class="linkform") You have an account already? Log in here
        div(class="clear")
            
    form(class="login active")
      div(class="formHeader centeredItems")
        h3 Login
      div(class="formContent")
        div(class="row")
          label(class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8") Username:
            span(class="error_login") 
          input(type="text" class="myCustomInput" name="username" required
                class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8")
        div(class="row")
          label(class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8") Password: 
          input(type="password" class="myCustomInput" name="password" required
                class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8")
      div(class="bottom formBottomStyle")
        div(class="row centeredItems")
          input(type="checkbox")
          span Keep me logged in
        div(class="row")
          input(type="submit" value="Login" class="myCustomButton col-lg-offset-6 col-lg-4 col-md-offset-6 col-md-4")
        div(class="row")
          a(href="connection" rel="register" class="linkform") You don't have an account yet? Register here
        div(class="row")
          a(href="connection" rel="forgot_password" class="linkform") Forgot your password?
        div(class="clear")
        
    form(class="forgot_password")
      div(class="formHeader centeredItems")
        h3 Forgot Password
      div(class="formContent")
        div(class="row")
          label(class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8") Email:
          input(type="email" class="myCustomInput" name="email" required
                class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8")
      div(class="bottom formBottomStyle")
        div(class="row")
          input(type="submit" value="Send reminder" class="myCustomButton")
        div(class="row")
          a(href="connection" rel="login" class="linkform") Suddenly remebered? Log in here
        div(class="row")
          a(href="connection" rel="register" class="linkform") You don't have an account? Register here
        div(class="clear")
    
    script(src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/bower/js-md5/src/md5.js")
    script(src="//code.jquery.com/jquery.min.js")
    script(src="/js/connection/pageManager.js")
    script(src="/js/connection/formProcess.js")
