doctype
html
    head
      meta(charset="utf-8")
      link(href="/css/bootstrap.min.css" rel="stylesheet")
      link(href="/css/generalStyles.css" rel="stylesheet")
      link(href="/css/connection/connectionStyle.css" rel="stylesheet")
      link(href="/css/connection/resetPassword.css" rel="stylesheet")
      title= 'token response'
    body(class="rowFlexContainer")
      div#form_wrapper(class="form_wrapper formWrapperStyle")
        form(class="reset col-lg-12 col-md-12 col-sm-12 col-xs-12")
          div(class="formHeader centeredItems")
            h3 Reset your password
          div(class="formContent")
            div(class="row")
              label(class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8") Password:
              input(type="password" name="password" placeholder='New password' 
                    autofocus=true pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])[a-zA-Z0-9]{8,}$" 
                    class="myCustomInput col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8" required)
              span(class="myTooltip") Password must contain at least 8 characters, 1 Uppercase letter and 1 number
            div(class="row")
              label(class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8") Confirm password
                span(class='error_mismatch')
              input(type="password" name="confirm" placeholder='confirm password' 
                    autofocus=true pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])[a-zA-Z0-9]{8,}$" 
                    class="myCustomInput col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8" required)
          div(class="bottom formBottomStyle")
            div(class="row")
              input(type="submit" value="Set password" class="myCustomButton")

    script(src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src='https://www.google.com/recaptcha/api.js')
    script(src="/bower/js-md5/src/md5.js")
    script(src="/js/connection/setPassword.js")
